data/checkpoints/
data/gif_videos/
data/npy_videos/
data/npy_videos/
result
venv3
model/*
logs/
data/checkpoints/
data/checkpoints/flow_imagenet/
data/videos_for_tests/
mstorsjo-fdk-aac-d47c2c6/
nohup.out
*.npy
*.avi
*.mp4
*.pkl
*.pyc
.idea/
.vscode/
data/checkpoints
